.page1, .page2, .page3, .page4, .page5, .page6{
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
  background-color: skyblue;
  opacity: 0.5;
  cursor: move;
}

@font-face {
  font-family: "myFont";
  src: url("../fonts/064号-萌趣软糖体_mianfeiziti.com.ttf");
}


.h {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: springgreen;
}

.start-button {
  font-family: "myFont";
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: red;
  transform: translateX(-50%);
  transform: translateY(-50%);
  cursor: default;
}