html,
body {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "kan";
  src: url(../fonts/锐字云字库楷体GB.ttf);
}
.wrapper{
  background-image:linear-gradient(-150deg,#E3FDF5 0%,#9aa5f198 100%,#6e7fffbd 100%);
  /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, hsl(323, 74%, 29%) 71%, #3d1635 84%, #1c1a27 100%); */
  /* background-image: linear-gradient(-200deg, #E3FDF5 0%,#bdc2e8bd 30%,#8280f0be 42%,#4860eb65 50%,#bdc2e8bd 60%,#E3FDF5 80%,#ffffff 100%); */
  /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  
 
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%); */
}

/* 清除浮动 */
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
/* page1 css start */

#sec-1 {
  width: 100%;
  height: 100vh;
  /* url(../images/sec-1bg-transpant.png) */
  /* background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); */
  /* background-image:url(../images/sec-1bg-transpant.png);*/
  background-size: 100% 100%;
  background-position: -2px 0px; 
}

/* #sec-2{
  background-image: linear-gradient(to right, #ebbba7 0%, #fcb69f 100%);
}
#sec-3{

} */
/* 左侧导航栏模块 */
.navbar {
  position: fixed;
  top: 27vh;
  left: 2.5vw;
  width: 10px;
  height: 51vh;
  z-index:9999;
}

.little-dot {
  height: 1px;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1px;
  background-color: #ba7bfc;
  border: 1px solid #ba7bfc;
  border-radius: 50%;
}

.navbar-dot {
  cursor: pointer;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 12px;
  width: 12px;
  border: 2px solid #dda0dd;
  border-radius: 50%;
}

.navbar-dot:hover {
  transform: scale(1.2);
  border: 2px solid #da70d6;
  transition: all 0.5s;
}

.navbar .navbar-selected {
  transform: scale(1.4);
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid #da70d6;
}

.navbar-selected:after {
  content: "";
  margin: 1.1px;
  display: table;
  width: 6px;
  height: 6px;
  background: #ff6a86;
  border-radius: 50%;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  height: 70px;
 background-color: rgba(147, 172, 241, 0.384);
 opacity: 0.9;
}
.header-centerPart{
  width:12%;
  height:45%;
 
  position: relative;
  left: 45%;
}
.header-centerPart-box{
  display: inline-block;
  width:20%;
  margin-left: 1%;
  height: 100%;
  /* background-color: beige; */
  background-image: url(../images/30.png);
 background-repeat: no-repeat;
 background-size: cover;
  /* margin-right: 3%; */
}

.header-content {
  width: 100%;
  height:100%;
  /* margin: 0 10%; */
  /* position: fixed; */
  top: 0;
  z-index: 9999;
  background-color: rgba(46, 139, 86, 0);
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.header-leftPart{
  background-color: rgba(255, 99, 71, 0);
  width:20%;
  height:100%;
  
  background-image: url(../images/29.PNG);

  background-repeat: no-repeat;
  background-size: cover;

}
.header-rightPart{
  width:9%;
  height:60%;
  background-color: rgba(128, 245, 186, 0.267);
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  left:50%;
  position: relative;
  border-radius: 20px;
  opacity: 0.5;
  text-align: center;
  color: white;
  font-size: 27px;
  font-weight: 200;
}
.sec-1-textBox{
  position: relative;
  width:30%;
  height:100%;
  /* background-color: black; */
  margin-left: 10%;
  padding-left: 5%;
  padding-top: 15%;
 
}

.sec-1-text{
  /* background-color: blueviolet; */
  width: 100%;
  height:100%;
  line-height: 40px;
}
  
#sec-1-text1{
  font-size: 90px;
  color: #8530f531;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#sec-1-text2{
  font-size: 60px;
color: #161616;
font-weight: 500;
margin-top: 100px;
display: block;
}
#sec-1-text3{
  font-size: 40px;
  color: #2efa2e44;
  font-weight: 500;
}
#sec-1-text4{
  font-size: 30px;
  color: #111111;
  font-weight: 500;
}
.sec-1-scroll{
  
  height:60px;
  
 width:60px;
  /* animation:move 5s infinite;
  background-color: rgba(187, 20, 20, 0.075);  */
  /* display: flex; */
   position: relative;
   top:-18vh;
   margin:0 auto;
   /* background-color: rgba(202, 14, 14, 0.938); */
}
.back{
  width:0px;
  height:0px;
 /* border:1px solid rgba(137, 43, 226, 0.493); */
  animation:move1 4s infinite;
  /* margin:auto; */
 /* position: absolute; */
 /* z-index: 1; */
  border-radius: 50%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}
.sec-1-scroll .back1{
  animation-delay: 0ms;
}
.sec-1-scroll .back2{
  animation-delay: 1000ms;
}
.sec-1-scroll.back3{
  animation-delay: 2000ms;
}
.sec-1-scroll .back4{
  animation-delay: 3000ms;
}
.sec-1-scroll .back5{
  animation-delay: 4000ms;
}
svg{
width:60px;
height:60px;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
margin:auto;
animation:move2 3s infinite;
}
@keyframes move2{
0% {
    transform: translateY(0);
}
50% {
  transform: translateY(20px);
}
100% {
  transform: translateY(0);
}
}
@keyframes move{
  0%{width:150px;height:150px;background-color: rgba(137, 43, 226, 0.315);}
  50%{width:170px;height:170px;background-color:rgba(137, 43, 226, 0.315);}
  100%{width:150px;height:150px;background-color: rgba(137, 43, 226, 0.11);}
}
@keyframes move1{
  0%{width:0;height:0;border:2.5px solid rgba(151, 54, 170, 0.37)}
  100%{width:50px;height:50px;border:1.5px solid rgba(128, 0, 128, 0.096)}
  /* 100%{width:0;height:0}; */
}
.sec-1-img{
  position: relative;
  width:35%;
  height:65%;
  /* background-color: chartreuse; */
  top:-70%;
  right:-55%;
  background-image: url(../images/21.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* page1 css end */

#sec-2,
#sec-3,
#sec-4,
#sec-5,
#sec-6 {
  width: 100%;
  height: 100vh;
  /* background-color: skyblue; */
  /* opacity: 0.5; */
}

.h {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: springgreen;
}

/* page4.css */
.title1 {
  position: relative;
  margin-top: 28vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.phto {
  width: 100vw;
  height: 60vh;
  margin-top: 5vh;
  /* border: aqua 1px solid; */
  display: flex;
  overflow: hidden;
  cursor: grab;
  visibility: inherit;
  opacity: 1;
}
.phto1 {
  width: 100vw;
  height: 60vh;
  /* background-color: cadetblue; */
  display: flex;
  flex-shrink: 0;
  transition: 1s;
  position: relative;
  padding-left: 5vw;
}
.phto2 {
  width: 100vw;
  height: 60vh;
  /* background-color: crimson; */
  display: flex;
  flex-shrink: 0;
  transition: 1s;
  position: relative;
}
.phto3 {
  width: 100vw;
  height: 60vh;
  /* background-color: brown; */
  display: flex;
  flex-shrink: 0;
  position: relative;
}
.phto4 {
  width: 100vw;
  height: 60vh;
  /* background-color: chartreuse; */
  display: flex;
  flex-shrink: 0;
  position: relative;
}
.phto5 {
  width: 100vw;
  height: 60vh;
  /* background-color: cornsilk; */
  display: flex;
  flex-shrink: 0;
  position: relative;
}
.phto6 {
  width: 100vw;
  height: 60vh;
  /* background-color: cadetblue; */
  display: flex;
  flex-shrink: 0;
  position: relative;
}
.phtot {
  width: 25vw;
  height: 40vh;
  margin-top: 18vh;
  /* border: tan solid 1px; */
  display: flex;
}
.phtot2 {
  width: 25vw;
  height: 40vh;
  margin-top: 1vh;
  /* border: tan solid 1px; */
  display: flex;
}
.pt1 {
  width: 220px;
  height: 220px;
  /* border: tomato solid 3px; */
  border-radius: 74% 26% 54% 46% / 61% 34% 66% 39%;
  margin-left: 2vw;
  margin-top: 5vh;
}
.pt2 {
  width: 220px;
  height: 220px;
  /* border: #16a085 solid 3px; */
  border-radius: 26% 74% 46% 54% /34% 61% 39% 66%;
  margin-left: 2vw;
  margin-top: 1vh;
}
.ph1 {
  width: 100px;
  height: 80px;
  /* border: teal 1px solid; */
  margin-left: 18vw;
  margin-top: 15vh;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ph2 {
  width: 100px;
  height: 80px;
  /* border: teal 1px solid; */
  margin-left: 15vw;
  margin-top: 35vh;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mask {
  width: 100%;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    transparent 7%,
    #000 18%,
    #000
  );
  mask-image: linear-gradient(
    90deg,
    transparent,
    transparent 7%,
    #000 18%,
    #000
  );
  -webkit-mask-size: 101%;
  mask-size: 101%;
  position: relative;
  padding-left: 2.4rem;
}
.phtot .back1 {
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back2 {
  background-image: url("../images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back3 {
  background-image: url("../images/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back4 {
  background-image: url("../images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back5 {
  background-image: url("../images/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back6 {
  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back7 {
  background-image: url("../images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back8 {
  background-image: url("../images/8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back9 {
  background-image: url("../images/9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back10 {
  background-image: url("../images/10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back11 {
  background-image: url("../images/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back12 {
  background-image: url("../images/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back13 {
  background-image: url("../images/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back14 {
  background-image: url("../images/14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back15 {
  background-image: url("../images/15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back16 {
  background-image: url("../images/16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back17 {
  background-image: url("../images/17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back18 {
  background-image: url("../images/18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot .back19 {
  background-image: url("../images/19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.phtot2 .back20 {
  background-image: url("../images/20.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 第三页 */
.sec5{
  /* background-image: url(../images/我的2020.png); */
 background-size: 100% auto;
  
  background-repeat:no-repeat;
  background-position: bottom;
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
}
/* .school-img{
  width:100%;
 
  position: relative;
  top: 0;
} */
.sec-5-box{
  width:80%;
  height:70%;
  margin:0 auto;
}
.sec-5-box-left{
  width:50%;
  height:70%;
  background-color: #ff6a8502;
  float:left;
  border:1px solid transparent;
}
.sec-5-box-right{
  width:50%;
  height:70%;
  background-color: #b97bfc00;
 float: right;
 border:1px solid transparent;
}
.sec-5-box-left h1{
  display: block;
  background-color: rgba(240, 248, 255, 0);
  margin-top: 10vh;
  font-size: 50px;
  font-family: "宋体";
}
.container{
  width:153px;
  /* height:100%; */
  /* background-color: rgba(255, 99, 71, 0.226); */
  border: 2px solid rgba(255, 0, 0, 0);
  margin-top: 5vh;
  margin-left: 20%;
  display: inline-block;
}

.number_box {
   display: inline-block;
   height: 96px;
   width: 72px;
   margin: 0 auto;
   border: 1px solid #eeeeee;
   border-radius: 2px;
   box-sizing: border-box;
   overflow: hidden;
   /* background-color: #0f0f0f2f; */
   margin: 0 auto; 
}

.digitial_item {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 96px;

}

.digitial_item span {
   color: #f0f0f5;
   line-height: 1;
   font-size: 64px;
   text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}
.time{
  font-size: 20px;
  font-family: monospace;
}
/* .sec-5-box-right img{
  width:50%;
  height:45%;
  background-color: rgba(64, 224, 208, 0);
  float: right;
  margin-top: 5vh;
} */
.sec-5-box-left-text{
  margin-top: 10vh;
  width:65%;
  margin-left: 10%;
  font-size: 20px;
}
.sec-5-box-right-text{
  margin-top: 15vh;
  width:55%;
  margin-left: 15%;
  font-size: 20px;
}
.submit-work{
  width:25%;
  height:5vh;
  /* background-color: rgba(91, 50, 205, 0.055); */
  margin-top: 10vh;
  margin-left: 15%;
  text-align: center;
  border:2px solid rgba(250, 245, 245, 0.219);
  border-radius: 5px;
}
 .school-img{
   width:100%;
  margin-top: -10vh;
  opacity:0.4;
 }